@media screen and (max-width:992px) {
    .flex-custom {
        flex-direction: column;
        align-items: flex-start;
    }
    .icon {
        display: none;
    }
    .custom-css-nav {
        flex-direction: column !important;
    }
    .links-container {
        height: 0;
        overflow: hidden;
        transition: 0.3s;
    }
    .show-container {
        height: 15rem;
    }
}